* {
    box-sizing: border-box;
  }

nav ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-align:right;
    white-space: nowrap;
}

nav li {
    padding: 20px 60px;
    display: inline-block;
    font-size: 2rem;
}

.wrapper {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
}

.title {
    display: flex;
    flex-direction: column;
    color: whitesmoke;
}

.word {
    margin: 0px;
    padding: 0px;
    position: absolute;
    font-size: 5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.w1 {
    top: 29%;
    left: 50%;
}

.w2 {
    top: 35%;
    left: 50%;
}

.w3 {
    top: 41%;
    left: 50%;
}

.w4 {
    top: 47%;
    left: 50%;
}

.start {
    margin: 0px;
    padding: 10px;
    position: absolute;
    top: 57%;
    left: 47%;
    border: 3px solid white;
    background-color: transparent;
    color: whitesmoke;
}
.section { 
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0 0 5px #000;
}

.image1 {
    background-image: url("./roomdark.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: auto;
    padding: 0px;
    margin: 0px 0px -5px 0px;
    min-height: 500px; 
    background-attachment: fixed;
}

.image2 {
    background-image: url("./planedark.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80%;
    width: auto;
    padding: 0px;
    margin: 800px 0px -5px 0px;
    min-height: 500px; 
    background-attachment: fixed;
}

.logo {
    background-image: url("./strength-force-logo2-removebg-preview.png");
    background-size: cover;
    position:absolute;
    background-position: center;
    background-repeat: no-repeat;
    height: 14%;
    width: 7%;
    padding: 0px;
    transform: rotate(-45deg);
    margin: -90px 0px 0px -20px;
}

body {
    margin: 0px;
    color: #69585A;
    background-color: #E1DAD8;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 { 
    text-align: right;
}

p {
    margin: 10px 0px 0px 0px;
    padding: 0px;
    /* border: 3px solid yellow; */
}

.pword {
    margin: -30px 0px 20px 0px;
    text-align: right;
}

label {
	display: block;
	padding-bottom: 0.3rem;
    border: none;
    /* border: 3px solid red; */
}

legend {
	font-weight: bold;
	font-size: 2rem;
	padding: 0px;
    text-align: left;
	display: block;
    /* border: 3px solid blue; */
}

fieldset {
	border: 1px solid black;
	border-radius: 10px;
    float: right;
    margin: 4.688rem 20rem;
    padding: 70px 30px;
}

h1 {
    display: inline;
    border: 3px solid purple;
    position: fixed;
    padding: 0px;
    margin: 50px 0px 0px 325px;
    font-size: 5rem;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
input {
	display: block;
	margin-bottom: 2rem;
	width: 22.5rem;
    height: 2.5rem;
	font-size: 1rem;
	padding: 0 1rem;
}

fieldset button {
    border-radius: 20px;
    width: 22.5rem;
    height: 2rem;
    border: transparent;
    background-color: #69585A;
    color: #E1DAD8;
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.newsignup {
    margin-top: 5rem;
    text-align: center;
}

button:hover {
    background-color: #857576;
    cursor: pointer;
}

footer {
    color: #E1DAD8;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    vertical-align: bottom; 
    position: relative;
    border-top: 8px solid #E1DAD8;
    top: 95%;
    padding: 8px 0px 0px 0px;
    margin: 0px 0px -10px 0px;
}

.bottomnav {
    margin: 0px;
    padding: 0rem 2rem;
    list-style-type: none;
    white-space: nowrap;
    text-align: center;
}

.bottomnav li {
    display: inline-block;
    padding: 0rem 5rem;
    color: #E1DAD8;
}

.bottomnav a:visited {
    color: #E1DAD8;
}

